button.SocialButton {
  color: #fff;
  border-color: #fff;
  min-width: 270px;
  margin: 0.5em;
  padding-left: 56px;
}

button.SocialButton div.Provider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0,0,0,0.25);
  border-right: 1px solid #fff;
}

button.SocialButton svg {
  padding: 4.5px 8px;
}