.PaymentOptions {
  padding-bottom: calc(75px + 2em);
}

.PaymentOptions .CheckBoxLabel {
  position: relative;
  text-align: center;
  padding: 70px 0 0;
  width: 6em;
  margin: 0.5em auto !important;
}

.PaymentOptions .CheckBoxLabel > span:nth-of-type(2) {
  width: 100%;
}

.PaymentOptions .CheckBoxLabel .CheckBox {
  position: absolute;
  top: 0;
  left: calc(50% - 1.25em);
  padding: 0.25em;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.PaymentOptions .CheckBoxLabel .CheckBox.Checked {
  background-color: #3f51b5;
}

.PaymentOptions .CheckBoxLabel .CheckBox.Disabled::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
}

.PaymentOptions .CheckBoxLabel .CheckBoxIcon {
  width: 1.5em;
  height: 1.5em;
  object-fit: contain;
  -webkit-filter: saturate(0%); /* Safari 6.0 - 9.0 */
  filter: saturate(0%);
}

.PaymentOptions .CheckBoxLabel .CheckBox.Checked .CheckBoxIcon {
  color: #fff;
  -webkit-filter: brightness(400%); /* Safari 6.0 - 9.0 */
  filter: brightness(400%);
}

.PaymentOptions .SaveButtonWrapper {
  background-color: #F0F0F0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.PaymentOptions .SaveButton {
  width: calc(100% - 1em);
  height: 30px;
  margin: 0.5em !important;
}

.PaymentOptions .ButtonProgress {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
}

.PaymentOptions .ButtonProgress svg {
  color: #00cc00;
}