.ContentWrapper {
  width: 100%;
  height: calc(100% - 56px);
  padding-top: 56px;
}

.ApproveButton {
  width: calc(100% - 2em);
  height: 50px;
  margin: 1em !important;
}

.IframeContainer {
  width: 100%;
  margin-top: 1em;
  height: calc(100% - 1em);
  position: relative;
}

.IframeContainer iframe {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  border: 2px #eeeeee  solid;
  pointer-events: none;
}