.UploadWrapper img {
  min-width: 88px;
  width: 88px;
  height: 88px;
  object-fit: cover;
}

.UploadWrapper .Dimensions {
  position: absolute;
  width: 100%;
  bottom: 2px;
  text-align: center;
  font-size: 11px;
}

.AddButtonWrapper {
  position: fixed;
  bottom: 45px;
  left: 0;
  width: 100%
}

.ShareButtonWrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%
}

.SaveButton {
  width: calc(100% - 1em);
  height: 30px;
  margin: 0.5em !important;
}

.ButtonProgress {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
}

.ButtonProgress svg {
  color: #00cc00;
}