.Login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ED7C35;
}

.Login img {
  width: 100%;
  margin-bottom: 0.5em;
  max-height: 80px;
  object-fit: contain;
}

.Login a {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}